* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(208, 71, 71);
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    font-size: x-large;
}

h1 {
    display: flex;
    flex: 1;
}

.pokeSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 150px;
    background: rgb(1, 155, 3);
    border-radius: 5px;
    cursor:default;
}

.pokeSearch:hover {
    background: rgb(0, 189, 0);
}
.search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 60px;
    width:330px;
    border-radius: 5px;
    font-size: x-large;
    background: #333;
}

#searchBar {
     display: flex;
    justify-content: center;
    height: 40px;
    width:150px;
    font-size: x-large;
}
/* .greenBulb {
    height: 40px;
    width: 40px;
    background: green;
    border-radius: 50%;
} */


body {
    font-family: Arial, Helvetica, sans-serif;
    color:aliceblue;
    background-color: rgb(190, 63, 63);
}

section {
    margin: 4rem;
    padding: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    background: black;
    box-shadow: inset;
}

.container {
    /* padding: 1rem; */
    max-width: 18rem;
    background: rgb(249, 235, 161);
    border-radius: 2%;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.nro {
    color: rgb(0, 0, 0);
    padding: 0.1rem;
   /*  position:absolute;
    top:0px;
    right:0px; */
}


.card {
    font-size: x-large;
    display: flex;
    flex-wrap: wrap;
    justify-content:left;
    align-items:start;
    background-image: linear-gradient(to bottom right, rgb(209, 122, 83),rgb(199, 136, 19));
    padding: 1rem;
    margin-top: 0.5rem;
    border-radius: 2%;
    height: 8rem;

}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 2%;
    /* background-color: rgb(102, 255, 127); */
}

.pokePic[class*="Grass"] {
    background-image: linear-gradient(to bottom right, greenyellow, green);
}
.pokePic[class*="Water"] {
    background-image: linear-gradient(to bottom right, rgb(110, 147, 249), rgb(0, 6, 128));
}
.pokePic[class*="Fire"] {
    background-image: linear-gradient(to bottom right, rgb(231, 122, 27), rgb(95, 0, 0));
}
.pokePic[class*="Flying"] {
    background-image: linear-gradient(to bottom right, rgb(252, 252, 252), rgb(0, 62, 168));
}
.pokePic[class*="Psychic"] {
    background-image: linear-gradient(to bottom right, black, rgb(252, 47, 255), rgb(0, 0, 0));
}
.pokePic[class*="Bug"] {
    background-image: linear-gradient(to bottom right, rgb(235, 255, 121), rgb(24, 112, 24));
}

.pokePic[class*="Normal"] {
    background-image: linear-gradient(to bottom right, rgb(86, 85, 41),rgb(254, 254, 254));
}

.pokePic[class*="Poison"] {
    background-image: linear-gradient(to bottom right, rgb(189, 40, 172), rgb(8, 50, 0));
}

.pokePic[class*="Electric"] {
    background-image:linear-gradient(to bottom right,  black, yellow, white, yellow, black);
}

.pokePic[class*="Ground"] {
    background-image:linear-gradient(to bottom right, rgb(247, 210, 0), rgb(144, 89, 0));
}

.pokePic[class*="Fighting"] {
    background-image:linear-gradient(to bottom right, black,  rgb(255, 0, 0), rgb(0, 0, 0));
}

.pokePic[class*="Rock"] {
    background-image:linear-gradient(to bottom right, rgb(0, 0, 0), rgb(255, 255, 255));
}

.pokePic[class*="Ghost"] {
    background-image:linear-gradient(to bottom right, rgb(2, 0, 0), rgb(91, 30, 142));
}

.pokePic[class*="Fairy"] {
    background-image:linear-gradient(to bottom right, rgb(255, 144, 144), rgb(197, 125, 255));
}